.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 100vh;
    width: 100%;
    color: white;
    background-color: black;
    cursor: default;

    h1{
        font-weight: 500;
    }
}

.section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    text-align: center;
}


i {
    font-size: 50px;
}

.section .one {

    width: 30vh;
    background-color: white;
    height: fit-content;
    color: black;
    padding: 30px;
    border-radius: 20px;
    transition: 0.3s;

    p {
        margin-top: 10px;
    }


}

.section .two{
    width: 30vh;
    background-color: white;
    height: fit-content;
    color: black;
    padding: 30px;
    border-radius: 20px;
    transition: 0.3s;

    p {
        margin-top: 10px;
    }


}
.section .three{
    width: 30vh;
    background-color: white;
    height: fit-content;
    color: black;
    padding: 30px;
    border-radius: 20px;
    transition: 0.3s;

    p {
        margin-top: 10px;
    }


}

.section .one:hover,
.section .two:hover,
.section .three:hover {
    transform: scale(1.1) translateY(10px);
}

@media screen and (max-width:480px){
    .projects{
        height: 300vh;

        h1{
            font-size: 24px;
            font-weight: 500;
        }
    }

    .section{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}




